# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
build/*.zip
build/*.txt

# .NET / C#
bin/
obj/
*.user
*.suo
.vs/
